.btn {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  margin: 20px 0;
  cursor: pointer;
}

.btn-prim {
  color: #FFF;
  background-color: #1267FB;
}

.btn-prim:hover {
  background-color: #4185FC;
}

.btn-yllw {
  color: #1267FB;
  background-color: #FEE74C;
}

.btn-yllw:hover {
  background-color: #FEEC70;
}
