nav {
  padding: 20px 0;
  font-size: 16px;
  font-weight: 300;
}

nav li {
  padding-right: 40px;
}

nav a {
  text-decoration: none;
}

.navbar-transp a {
  color: white;
}

.navbar-transp a:hover {
  color: #FEE74C;
}

.navbar-transp .active {
  border-bottom: 2px solid white;
}

.navbar-transp .active:hover {
  border-bottom: 2px solid #FEE74C;
}

.navbar {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.navbar a {
  color: black;
}
