.teams {
  display: flex;
  flex-direction: column;
}

.teams h3 {
  margin-top: 0;
}

.team-left {
  display: flex;
  align-self: start;
}

.team-right {
  display: flex;
  align-self: end;
}

.icon-large {
  font-size: 80px;
  width: 90px;
  color: #B1CDFD;
  padding-top: 10px;
  margin-right: 50px;
}

.team-description {
  max-width: 700px;
}

@media (max-width: 880px) {
  .team-left {
    flex-direction: column;
  }

  .team-right {
    flex-direction: column;
  }

  .icon-large {
    font-size: 60px;
  }

  .team-description {
    position: relative;
  }

  .team-description h3 {
    position: absolute;
    top: -50;
    left: 100;
  }
}
